#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Pilt */
.rounded-image {
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: 0;
}

.rounded-image:hover {
  border-radius: 20px;
}

.read-the-docs {
  color: #888;
}

.valitud {
  font-weight: bold;
}

/* Menüü fikseeritud üles */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}

/* Sisu konteiner, mis jääb menüü alla */
.content {
  margin-top: 50px; /* Kohanda seda vastavalt menüü kõrgusele */
  padding: 20px;
}