#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Pilt */
.rounded-image {
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: 0;
}

.rounded-image:hover {
  border-radius: 20px;
}

.read-the-docs {
  color: #888;
}

.valitud {
  font-weight: bold;
}